$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', cursive;
$color-accent: #d41443;
$suptitle-color: #ffa5ba;
$text-color-1: #ffffff;
$text-color-2: #907e82;
$text-color-3: #000000;
$main-bg-color: #ffb8ca;
$second-bg-color: #fff5f6;
$third-bg-color: #f0d1a5;
$fourth-bg-color: #c2e297;
$mobile-bg-color: #e17992;
$reviews-bg-color: #fafafa;
$reviews-markers-color: #c7133e;
$reviews-icon1-color: #d31342;
$reviews-icon2-color: #d9d9d9;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
