<section class="about" id="about">
  <div class="container">
    <p class="suptitle">tradition and love</p>
    <h2 class="title">how it’s made?</h2>

    <div class="about__content">
      <picture class="about__img">
        <source
          srcset="./images/desktop/home-pic4.png 1x, ./images/desktop/home-pic4@2x.png 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/tablet/home-pic4-tab.png 1x, ./images/tablet/home-pic4-tab@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/mobile/home-pic4-mob.png 1x, ./images/mobile/home-pic4-mob@2x.png 2x"
          media="(min-width:320px)"
        />
        <img src="./images/mobile/home-pic4-mob.png " alt="" />
      </picture>

      <div class="about__text">
        <ul class="about__list list">
          <li class="about__item">
            <p class="about__discription">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li class="about__item">
            <p class="about__discription">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li class="about__item">
            <p class="about__discription">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>
        <button class="about__btn" type="button" data-modal-open-about>
          Read more
          <svg class="base-btn__icon">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal-about>
    <div class="about__menu">
      <h2 class="title about__menu-title">how it’s made?</h2>
      <p class="about__menu-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem optio laboriosam dolorum neque id dolores? Doloremque eos neque quo! Magni accusamus dolorum earum aut cum. Expedita veniam dolorem qui voluptatem?</p>
      <button class="close-btn" data-modal-close-about>
        <svg class="close-btn__icon">
          <use href="./images/sprite.svg#icon-close-black"></use>
        </svg>
      </button>
      
        <div class="about__img">
          <picture ></picture>
      <img class="about__img-bg" src="./images/desktop/bg-menu-about.png " alt="" />
      </picture>
        </div>
      
    </div>
  </div>
</section>


<div class="backdrop is-hidden" data-modal-about>
      <div class="about__modal">
        <button class="close-btn" data-modal-close-about>
          <svg class="close-btn__icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal_bg_content">
          <h2 class="title">how it’s made?</h2>
          <picture>
            
            <img class="about__img" src="./images/desktop/bg-menu-about.png " alt="" />
          </picture>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            tempore, sunt atque debitis asperiores perspiciatis voluptatibus,
            placeat facilis, expedita fugiat quibusdam sint laudantium nihil
            dolorum autem exercitationem iste amet? Dolor.
          </p>
        </div>
      </div>
    </div>