<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--icon1">
                <span id="count-1" class="value">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon2">
                <span id="count-2" class="value">16</span>
                <span class="value-kg">KG</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon3">
                <span id="count-3" class="value">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>