<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--icon1">
                <p class="advantages__text value1">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon2">
                <p class="advantages__text value2">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon3">
                <p class="advantages__text value3">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>