<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <ul class="contacts-card">
        <li class="contacts-card__item">
          <p class="contacts-card__name">CAFE</p>
          <ul class="adress-card">
            <li class="adress-card__item">
              <p class="adress-card__name">Chicago</p>
              <p class="adress-card__description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="adress-card__item">
              <div class="adress-card__wrapper adress-card__wrapper--mb">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
              <div class="adress-card__wrapper">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
            </li>
            <li class="adress-card__item">
              <a class="adress-card__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              <a class="adress-card__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-card__item">
          <p class="contacts-card__name contacts-card__name--dif">FOODTRUCK</p>
          <ul class="adress-card">
            <li class="adress-card__item">
              <p class="adress-card__name">Los Angeles</p>
              <p class="adress-card__description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="adress-card__item">
              <div class="adress-card__wrapper adress-card__wrapper--mb">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
              <div class="adress-card__wrapper">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
            </li>
            <li class="adress-card__item">
              <a class="adress-card__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              <a class="adress-card__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-card__item">
          <p class="contacts-card__name">CAFE</p>
          <ul class="adress-card">
            <li class="adress-card__item">
              <p class="adress-card__name">New York</p>
              <p class="adress-card__description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="adress-card__item">
              <div class="adress-card__wrapper adress-card__wrapper--mb">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
              <div class="adress-card__wrapper">
                <p class="adress-card__name adress-card__name--mb0">Monday - Friday</p>
                <p class="adress-card__time">06:00 AM - 10:00 PM</p>
              </div>
            </li>
            <li class="adress-card__item">
              <a class="adress-card__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              <a class="adress-card__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__buttons">
        <button class="base-btn base-btn__contacts base-btn__contacts--accent">
          Our Locations
          <svg class="base-btn__icon">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
        <button class="base-btn base-btn__contacts">
          Franchise
          <svg class="base-btn__icon">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- <section class="contacts" id="contact">
  <div class="container contacts__container">

    <ul class="contacts__list list">
      <li class="contacts__item">
        <button class="contacts__button" type="button">CAFE</button>
        <div class="contacts__location">
          <p class="contacts__city">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__border">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__tel">
          <li class="contacts__items list">
              <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__items list">
              <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <button class="contacts__button contacts__button--color" type="button">FOODTRUCK</button>
        <div class="contacts__location">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__border">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__tel">
          <li class="contacts__items list">
              <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__items list">
              <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      
      <li class="contacts__item">
        <button class="contacts__button" type="button">CAFE</button>
        <div class="contacts__location">
          <p class="contacts__city">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__border">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__tel list">
          <li class="contacts__items">
              <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__items">
              <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts-button list">
      <li class="contacts-button__item">
        <button class="contacts-button__button contacts-button__button--color base-btn" type="button">
          Our Locations
          <svg class="base-btn__icon base-btn__icon--color">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button class="contacts-button__button base-btn" type="button">
          Franchise
          <svg class="base-btn__icon">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
      </li>
    </ul>

  </div>
</section> -->
