<section class="reviews">
  <div class="container">
    <img class="reviews__img" src="./images/desktop/slider-pic.png" alt="slider-image" />
    <div class="reviews__wrapper">
      <div class="reviews__text-wrapper">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>

    <div class="reviews__markers">
      <span class="reviews__markers-item"></span>
      <span class="reviews__markers-item"></span>
      <span class="reviews__markers-item"></span>
    </div>
    <p class="reviews__address">Emily, Los Angeles</p>
    <div class="reviews__links">
      <ul class="reviews__list">
        <li class="reviews__link">
          <a href="" class="reviews__link-item">
            <svg class="reviews__link-icon" width="12px" height="12px">
              <use href="./images/sprite.svg#icon-reviews-home-pg"></use>
            </svg>
          </a>
        </li>
        <li class="reviews__link">
          <a href="" class="reviews__link-item">
            <svg class="reviews__link-icon2" width="12px" height="12px">
              <use href="./images/sprite.svg#icon-reviews-home-pg2"></use>
            </svg>
          </a>
        </li>
        <li class="reviews__link">
          <a href="" class="reviews__link-item">
            <svg class="reviews__link-icon2" width="12px" height="12px">
              <use href="./images/sprite.svg#icon-reviews-home-pg2"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
