<div class="backdrop-franchise is-hidden" data-modal-franchise>
    <div class="modal-franchise">
        <button type="button" class="modal-franchise__close-button" data-modal-close-franchise>
            <svg class="modal__close-icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-close-black"></use>
            </svg>
        </button>
        
        <div class="conditions-franchise">
            <h2 class="conditions-franchise__title">Open your business - Franchise</h2>
            <p class="conditions-franchise__suptitle">Advantages</p>
            <ul class="conditions-franchise__list">
                <li class="conditions-franchise__item">
                    Lorem ipsum dolor sit amet consectetur.
                </li>
                <li class="conditions-franchise__item">
                    Lorem ipsum dolor sit amet consectetur.
                </li>
                <li class="conditions-franchise__item">
                    Lorem ipsum dolor sit amet consectetur.
                </li>
                <li class="conditions-franchise__item">
                    Lorem ipsum dolor sit amet consectetur.
                </li>
            </ul>
            <a class="conditions-link link" href="#">Franchise conditions</a>
            <button class="button-franchise" type="button">Fill in the form</button>
        </div>
    </div>
</div>