<header class="header">
  <div class="container">
    <div class="backdrop is-hidden" data-modal>
      <div class="mobile-menu" data-menu>
        <button class="close-btn" data-menu-close data-modal-close>
          <svg class="close-btn__icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <button class="base-btn mobile-menu__base-btn" type="button">
          Buy now
          <svg class="base-btn__icon">
            <use href="./images/sprite.svg#icon-Vector1"></use>
          </svg>
        </button>
        <ul class="mobile-navigation">
          <li class="mobile-navigation__item list">
            <a class="mobile-navigation__link link" href="">Home</a>
          </li>
          <li class="mobile-navigation__item list">
            <a class="mobile-navigation__link link" href="#gallery">About us</a>
          </li>
          <li class="mobile-navigation__item list">
            <a class="mobile-navigation__link link" href="#about">How it’s made?</a>
          </li>
          <li class="mobile-navigation__item list">
            <a class="mobile-navigation__link link" href="#products">Our products</a>
          </li>
          <li class="mobile-navigation__item list">
            <a class="mobile-navigation__link link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__wrapper">
      <a class="logo link" href="">
        <img
          class="logo__image"
          srcset="./images/desktop/logo.png 1x, ./images/desktop/logo@2x.png 2x"
          src="./images/desktop/logo.png"
          alt="logo"
        />
      </a>
      <ul class="navigation">
        <li class="navigation__item list"><a class="navigation__link link" href="">Home</a></li>
        <li class="navigation__item list">
          <a class="navigation__link link" href="#gallery">About us</a>
        </li>
        <li class="navigation__item list">
          <a class="navigation__link link" href="#about">How it’s made?</a>
        </li>
        <li class="navigation__item list">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item list">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <button class="burger-btn" type="button" data-menu-button data-modal-open>
        <svg class="burger-btn__icon">
          <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="base-btn" type="button">
        Buy now
        <svg class="base-btn__icon">
          <use href="./images/sprite.svg#icon-Vector1"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero-title__wrapper">
        <h1 class="hero-title wow bounceInLeft">
          <span class="hero-title__first-part">ice cream made with</span>
          <span class="hero-title__second-part">passion</span>
        </h1>
        <div class="title-number">
          <p class="title-number__block">
            <span class="title-number__point">16</span>
            <span class="title-number__description">cafes</span>
          </p>
          <p class="title-number__block title-number__block--mb0">
            <span class="title-number__point">23</span>
            <span class="title-number__description">food trucks</span>
          </p>
        </div>
      </div>
      <ul class="hero__list list">
        <li class="hero__item"><a class="hero__link link" href="#products">Products</a></li>
        <li class="hero__item">
          <a class="hero__link link hero__link--white-theme" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="description-block">
        <p class="description-block__subtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="description-block__link link" href="">
          <svg class="description-block__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <picture>
        <source
          srcset="./images/desktop/slider-pic4.png 1x, ./images/desktop/slider-pic4@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/slider-pic4-tab.png 1x, ./images/tablet/slider-pic4-tab@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img class="hero-image wow swing" src="./images/desktop/slider-pic4.png" alt="girl" />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/slider-pic5.png 1x, ./images/desktop/slider-pic5@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/slider-pic5-tab.png 1x, ./images/tablet/slider-pic5-tab@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img class="hero-image2" src="./images/desktop/slider-pic5.png" alt="milk" />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/slider-pic7.png 1x, ./images/desktop/slider-pic7@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/slider-pic7-tab.png 1x, ./images/tablet/slider-pic7-tab@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mobile/slider-pic7-mob.png 1x, ./images/mobile/slider-pic7-mob@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img class="hero-image3" src="./images/desktop/slider-pic7.png" alt="ice-cream" />
      </picture>
      <img class="hero-ellipse" src="./images/mobile/ellipse.png" alt="ellipse" />
      <a class="button-up" href="#"></a>
    </div>
  </div>
</section>
