<section class="products" id="products">
  <div class="container">
    <p class="suptitle">100% natural</p>

    <h2 class="title">products</h2>

    <ul class="products__list list">
      <li class="products__item products__item_ice-cream">
        <h3 class="products__title products__title_ice-cream">ice cream</h3>

        <ul class="products__dots list">
          <li class="products__dot"></li>
          <li class="products__dot"></li>
          <li class="products__dot"></li>
        </ul>

        <a href="" class="products__link link">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
          </p>
          
          <p class="products__overlay products__overlay_ice-cream">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sed adipisci, ullam dolore rerum corrupti commodi
            velit molestias dicta porro quia quos libero, nisi unde, nemo nesciunt cum dignissimos ut eos ex eveniet aspernatur
            natus. Ipsum ipsam maxime et excepturi iste maiores eveniet nihil, dolores porro non modi a. Eos.
          </p>
          
          <button class="products__button" type="button">
            <svg class="products__icon">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </a>
      </li>
      <li class="products__item products__item_ice-coffee">
        <h3 class="products__title products__title_ice-coffee">ice coffee</h3>

        <ul class="products__dots list">
          <li class="products__dot"></li>
          <li class="products__dot"></li>
          <li class="products__dot"></li>
        </ul>

        <a href="" class="products__link link">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
          </p>
          
          <p class="products__overlay products__overlay_ice-coffee">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sed adipisci, ullam dolore rerum corrupti commodi
            velit molestias dicta porro quia quos libero, nisi unde, nemo nesciunt cum dignissimos ut eos ex eveniet aspernatur
            natus. Ipsum ipsam maxime et excepturi iste maiores eveniet nihil, dolores porro non modi a. Eos.
          </p>
          
          <button class="products__button" type="button">
            <svg class="products__icon">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
        </a>
        </button>
      </li>
      <li class="products__item products__item_milkshakes">
        <h3 class="products__title products__title_milkshakes">milkshakes</h3>

        <ul class="products__dots list">
          <li class="products__dot"></li>
          <li class="products__dot"></li>
          <li class="products__dot"></li>
        </ul>

        <a href="" class="products__link link">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
          </p>
          
          <p class="products__overlay products__overlay_milkshakes">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sed adipisci, ullam dolore rerum corrupti commodi
            velit molestias dicta porro quia quos libero, nisi unde, nemo nesciunt cum dignissimos ut eos ex eveniet aspernatur
            natus. Ipsum ipsam maxime et excepturi iste maiores eveniet nihil, dolores porro non modi a. Eos.
          </p>
          
          <button class="products__button" type="button">
            <svg class="products__icon">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </a>
      </li>
    </ul>
  </div>
</section>
