.base-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  background-color: #fff;
  color: $color-accent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  border: none;
  border-radius: 22px;
  padding-bottom: 11px;
  padding-top: 11px;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }
}
@media screen and (max-width: 767px) {
  .base-btn {
    display: none;
  }
}
.base-btn__contacts {
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .base-btn__contacts {
    margin: 0;
  }
}
.base-btn__contacts--accent {
  background-color: $color-accent;
  color: #fff;
  margin-bottom: 10px;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

@media screen and (min-width: 768px) {
  .base-btn__contacts--accent {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.base-btn.mobile-menu__base-btn {
  display: flex;
  margin: 0 auto;
  min-width: 209px;
  margin-bottom: 19px;
}
@media screen and (min-width: 768px) {
  .base-btn.mobile-menu__base-btn {
    min-width: 186px;
  }
}
.base-btn__icon {
  margin-left: 12px;
  width: 7px;
  height: 10px;

  &_light {
    fill: $reviews-icon2-color;
  }
}
