@media screen and (min-width: 768px) {
    .contacts__container {
      display: flex;
    }
}

.contacts {
    padding-top: 86px;
    padding-bottom: 57px;
    background-color: $second-bg-color;
}

.contacts-lists {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .contacts-lists {
        display: flex;
        margin-left: -20px;
    }
}

@media screen and (min-width: 1280px) {
    .contacts-lists {
        margin-left: -25px;
  }
}

.contacts__item {
    padding-left: 20px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 20px;
    line-height: 1.5;
    width: 220px;
    height: 427px;
    background: $text-color-1;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    // flex-basis: calc(100% / 3 - 20px);
    // margin-left: 20px;
    // height: 544px;
    // padding-left: 32px;
    // padding-top: 50px;
    // padding-bottom: 50px;
    // padding-right: 32px;
}

.contacts__button {
    min-width: 80px;
    background-color: $third-bg-color;
    border-radius: 4px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-1;
    border-color: transparent;
    margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
    .contacts__button {
        font-size: 16px;
        line-height: 1.86;
    }
}


.contacts__button--color {
    background-color: $fourth-bg-color;
}

.contacts-button__button--color {
    background-color: $color-accent;
    color: $text-color-1;
}

// .contacts__list {
//     border-bottom: 1px  solid #E1E1E1;
//     width: 234px;
// }
// .contacts__list-border {
//     border-bottom: 1px  solid #E1E1E1;
//     width: 234px;
// }
// .contacts__nav {
//     background: #fff;
//     box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
//     border-radius: 24px;
//     width: 100%;
//     height: 572px;
//     padding-left: 43px;
// }
// .contacts__list-name {
//     text-transform:uppercase;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #fff;
//     background: #F0D1A5;
//     width: 73px;
//     height: 28px;
//     text-align: center;
//     letter-spacing: 0.04em;
//     margin-top: 51px;
//     border-radius: 6px;
// }
// .contacts__list-name1 {
//     text-transform:uppercase;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #fff;
//     background: #C2E297;
//     width: 138px;
//     height: 28px;
//     text-align: center;
//     letter-spacing: 0.04em; 
//     margin-top: 51px;
//     border-radius: 6px;
// }
// .contacts__list-city {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #000;
//     letter-spacing: 0.04em;
//     padding-top: 32px;
// }
// .contacts__list-text {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 183%;
//     font-style: 400;
//     color: #907E82;
//     letter-spacing: 0.04em;
//     padding-top: 10px;
//     padding-bottom: 32px;
// }
// .contacts__day {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #000;
//     letter-spacing: 0.04em; 
//     padding-top: 32px; 
// }
// .contacts__day1 {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #000;
//     letter-spacing: 0.04em; 
//     padding-top: 15px; 
// }
// .contacts__time {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #FFA5BA; 
// }
// .contacts__time1 {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 186%;
//     font-style: 400;
//     color: #FFA5BA;
//     padding-bottom: 32px; 
// }
// .contacts__tel-link {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 183%;
//     font-style: 400;
//     color: #907E82;  
// }
// .contacts__email-link {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 183%;
//     font-style: 400;
//     color: #907E82;  
// }