.footer {
    background-color:#FFF5F6;
}

// .title-wrapper__suptitle {
//     text-align: left;
// }

// .title-wrapper__title {
//     text-align: left;
// }

.contacts-wrapper__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
}

.contacts-wrapper__item {
    &:not(:last-child) {
        margin-right: 28px;
    }
}

.contacts-wrapper__icon {
    fill: #fea5bb;

    .contacts-wrapper__link:hover &,
    .contacts-wrapper__link:focus & {
        fill: $color-accent;
    }
}

.footer-tel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 65px;
}

.footer-tel__text {
    font-family: $main-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    color: $text-color-3;
}

.footer-tel__link {
    font-family: $main-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    color: $color-accent;
}

@media screen and (min-width: 320px) {
    .copyright {
        border-top: 1px solid #e1e1e1;
        padding: 22px 84px 25px 91px;
    }

    .copyright__text {
        font-family: $main-font;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;

        text-align: center;
        color: #907E82;
    }
}

@media screen and (min-width: 768px) {
    .footer .container {
        display: flex;
        justify-content: space-between;
    }

    .contacts-wrapper {
        margin-bottom: 91px;
    }

    .copyright {
        padding-left: 246px;
        padding-right: 250px;
        padding-top: 29px;
        padding-bottom: 18px;
      }
}

@media screen and (min-width: 1200px) {
    .contacts-wrapper__list {
        margin-bottom: 50px;
    }

    .copyright {
        padding-top: 9px;
        padding-bottom: 10px;
      }
}