@media screen and (min-width: 320px) {
  .gallery {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 121px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-bottom: 123px;
  }
}
