.products {
  padding-top: 122px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 128px;
    padding-bottom: 120px;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 20px);
    margin-top: calc(-1 * 20px);
  }

  @media screen and (min-width: 1280px) {
    margin-left: calc(-1 * 28px);
    margin-top: calc(-1 * 28px);
  }
}

.products__item {
  position: relative;
  padding: 160px 40px 40px;
  border-radius: 24px;

  &_ice-cream {
    background-color: $main-bg-color;
    box-shadow: 0px 6px 20px rgba(212, 20, 67, 0.15);
  }

  &_ice-coffee {
    background-color: $third-bg-color;
    box-shadow: 0px 6px 20px rgba(224, 79, 12, 0.15);
  }

  &_milkshakes {
    background-color: $fourth-bg-color;
    box-shadow: 0px 6px 20px rgba(90, 212, 20, 0.15);
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 150px;
    margin-left: 20px;
    padding: 152px 12px 40px;
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 260px;
    margin-left: 28px;
    padding: 162px 44px 54px;
    flex-basis: calc(100% / 3 - 28px);
  }
}

.products__title_ice-cream,
.products__title_ice-coffee,
.products__title_milkshakes {
  &::before {
    content: '';
    width: 250px;
    height: 252px;
    position: absolute;
    top: -24%;
    left: 50%;
    transform: translateX(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 234px;
      top: -22%;
    }

    @media screen and (min-width: 1280px) {
      width: 330px;
      height: 335px;
      top: -38%;
    }
  }
}

.products__title_ice-cream {
  &::before {
    background-image: url('../images/mobile/home-pic1-mob.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/home-pic1-mob@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/tablet/home-pic1-tab.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/home-pic1-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/desktop/home-pic1.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/home-pic1@2x.png');
      }
    }
  }
}

.products__title_ice-coffee {
  &::before {
    background-image: url('../images/mobile/home-pic2-mob.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/home-pic2-mob@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/tablet/home-pic2-tab.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/home-pic2-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/desktop/home-pic2.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/home-pic2@2x.png');
      }
    }
  }
}

.products__title_milkshakes {
  &::before {
    background-image: url('../images/mobile/home-pic3-mob.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/home-pic3-mob@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/tablet/home-pic3-tab.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/tablet/home-pic3-tab@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/desktop/home-pic3.png');

      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/desktop/home-pic3@2x.png');
      }
    }
  }
}

.products__title {
  font-family: $second-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-color-1;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.products__dot {
  &:not(:last-child) {
    margin-right: 4px;
  }

  &::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #fff;
  }
}

// .products__link {
//   position: relative;
// }

.products__description {
  // margin-bottom: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;

  color: $text-color-1;

  // &::before {
  //   content: '';
  //   display: block;
  //   width: 26px;
  //   height: 6px;
  //   margin: 30px auto;

  //   background-image: url('../images/desktop/dots.png');
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    // padding-bottom: 40px;

    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    // padding-bottom: 60px;

    font-size: 16px;
  }
}

.products__overlay_ice-cream {
  background-color: $main-bg-color;

  &::-webkit-scrollbar {
    background-color: $main-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffa5ba;
  }
}
.products__overlay_ice-coffee {
  background-color: $third-bg-color;

  &::-webkit-scrollbar {
    background-color: $third-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ecc488;
  }
}

.products__overlay_milkshakes {
  background-color: $fourth-bg-color;

  &::-webkit-scrollbar {
    background-color: $fourth-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b1db79;
  }
}

.products__overlay {
  position: absolute;
  bottom: 110px;
  left: 0;
  height: 25%;
  padding: 0 20px;
  overflow: auto;
  border-radius: 24px;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: $color-accent;

  opacity: 0;
  transition: opacity 250ms $timing-function;

  .products__link:hover &,
  .products__link:focus & {
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  @media screen and (min-width: 768px) {
    height: 32%;
  }

  @media screen and (min-width: 1280px) {
    bottom: 120px;
    padding: 0 30px;

    font-size: 16px;
  }
}

.products__button {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 10;

  border: none;
  border-radius: 50%;

  color: $color-accent;
  background-color: #ffffff;

  cursor: pointer;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.products__icon {
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  fill: $color-accent;

  transform: rotate(-90deg);
  transition: transform 250ms $timing-function;

  .products__link:hover &,
  .products__link:focus & {
    transform: rotate(90deg);
  }
}
